extends ../layout
block content
	.container
		.row
			#{movie.title}
			//- .col-md-7
			//- 	embed(src="#{movie.flash}",allowFullScreen="true",quality="high",width="720",height="600",align="middle",type="application/x-shockwave-flash")
			//- .col-md-5
			//- 	dl.dl-horizontal
